<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated RoamIntermediate -->
      <package
            uri="platform:/resource/org.emoflon.roam.intermediate/model/RoamIntermediate.ecore"
            class="org.emoflon.roam.intermediate.RoamIntermediate.RoamIntermediatePackage"
            genModel="model/RoamIntermediate.genmodel"/>
   </extension>

</plugin>
