<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
      <extension
            point="org.eclipse.ui.startup">
            <startup
                  class="org.emoflon.gips.eclipse.StartUp">
            </startup>
      </extension>
      <extension
            point="org.eclipse.ui.menus">
            <menuContribution
                  allPopups="false"
                  locationURI="popup:org.emoflon.gips.gipsl.Gipsl.EditorContext">
                  <menu
                        label="GIPS">
                        <dynamic
                              class="org.emoflon.gips.eclipse.menu.ContributionOpenLpFile"
                              id="org.emoflon.gips.eclipse.context.openLp">
                        </dynamic>
                        <menu
                              label="Open XMI files">
                        </menu>
                  </menu>
            </menuContribution>
            <menuContribution
                  allPopups="false"
                  locationURI="toolbar:org.eclipse.ui.main.toolbar">
                  <toolbar
                        id="org.emoflon.gips.eclipse.toolbar?after=additions">
                        <command
                              commandId="org.emoflon.gips.eclipse.visualizer.toggle"
                              disabledIcon="assets/toggle-visualisation-icon-disabled.png"
                              icon="assets/toggle-visualisation-icon-on.png"
                              id="org.emoflon.gips.eclipse.visualisation.toggle"
                              style="toggle">
                              <visibleWhen
                                    checkEnabled="false">
                                    <or>
                                          <with
                                                variable="activeEditor">
                                                <instanceof
                                                      value="org.eclipse.emf.ecore.presentation.EcoreEditor">
                                                </instanceof>
                                          </with>
                                          <reference
                                                definitionId="isGIPSLEditorActive">
                                          </reference>
                                          <reference
                                                definitionId="isCplexEditorActive">
                                          </reference>
                                    </or>
                              </visibleWhen>

                        </command>
                  </toolbar>
            </menuContribution>
            <menuContribution
                  allPopups="false"
                  locationURI="popup:org.emoflon.gips.eclipse.view?befor=additions">
                  <dynamic
                        class="org.emoflon.gips.eclipse.view.menu.OpenModelNodeInEditor"
                        id="org.emoflon.gips.eclipse.view.openModel">
                  </dynamic>
                  <dynamic
                        class="org.emoflon.gips.eclipse.view.menu.DeleteNode"
                        id="org.emoflon.gips.eclipse.view.delete">
                  </dynamic>
            </menuContribution>
      </extension>
      <extension
            point="org.eclipse.ui.commands">
            <command
                  defaultHandler="org.emoflon.gips.eclipse.handler.OpenLpHandler"
                  id="org.emoflon.gips.eclipse.openLp"
                  name="Open LP">
            </command>
            <command
                  defaultHandler="org.emoflon.gips.eclipse.handler.ToggleVisualisationHandler"
                  description="Activates or deactivates the visualization of gipsl to ilp model transformations"
                  id="org.emoflon.gips.eclipse.visualizer.toggle"
                  name="Toggle GIPSL ILP Visualisation">
            </command>
      </extension>
      <extension
            point="org.eclipse.ui.views">
            <view
                  allowMultiple="false"
                  category="org.emoflon.gips"
                  class="org.emoflon.gips.eclipse.view.GipsTraceView"
                  id="org.emoflon.gips.eclipse.view"
                  inject="true"
                  name="GIPS Trace View"
                  restorable="true">
            </view>
            <category
                  id="org.emoflon.gips"
                  name="GIPS">
            </category>
      </extension>
      <extension
            point="org.eclipse.ui.perspectiveExtensions">
            <perspectiveExtension
                  targetID="org.moflon.ide.ui.MoflonPerspective">
                  <view
                        id="org.emoflon.gips.eclipse.view"
                        minimized="false"
                        ratio="0.5"
                        relationship="bottom"
                        relative="org.eclipse.ui.views.ProblemView"
                        visible="false">
                  </view>
            </perspectiveExtension>
      </extension>
      <extension
            id="org.emoflon.gips.trace.marker.link"
            name="Gipsl Lp Linkmarker"
            point="org.eclipse.core.resources.markers">
            <super
                  type="org.eclipse.core.resources.textmarker">
            </super>
            <persistent
                  value="false">
            </persistent>
      </extension>
      <extension
            point="org.eclipse.ui.editors.annotationTypes">
            <type
                  markerType="org.emoflon.gips.trace.marker.link"
                  name="org.emoflon.gips.trace.marker.link">
            </type>
      </extension>
      <extension
            point="org.eclipse.ui.editors.markerAnnotationSpecification">
            <specification
                  annotationType="org.emoflon.gips.trace.marker.link"
                  colorPreferenceKey="org.emoflon.gips.trace.marker.link.color"
                  colorPreferenceValue="249, 57, 235"
                  contributesToHeader="false"
                  highlightPreferenceKey="org.emoflon.gips.trace.marker.link.highlight"
                  highlightPreferenceValue="true"
                  includeOnPreferencePage="true"
                  label="GIPS Trace"
                  overviewRulerPreferenceKey="org.emoflon.gips.trace.marker.link.oruler"
                  overviewRulerPreferenceValue="true"
                  presentationLayer="3"
                  textPreferenceKey="org.emoflon.gips.trace.marker.link.text"
                  textPreferenceValue="true"
                  textStylePreferenceValue="SQUIGGLES"
                  verticalRulerPreferenceKey="org.emoflon.gips.trace.marker.link.vruler"
                  verticalRulerPreferenceValue="true">
            </specification>
      </extension>
      <extension
            point="org.eclipse.core.runtime.preferences">
            <initializer
                  class="org.emoflon.gips.eclipse.pref.PluginPreferenceInitializer">
            </initializer>
      </extension>
      <extension
            point="org.eclipse.ui.preferencePages">
            <page
                  class="org.emoflon.gips.eclipse.pref.PluginPreferencePage"
                  id="org.emoflon.gips.eclipse.page1"
                  name="GIPS Tracing">
            </page>
      </extension>
      <extension
            point="org.eclipse.core.expressions.definitions">
            <definition
                  id="isGIPSLEditorActive">
                  <with
                        variable="activePartId">
                        <equals
                              value="org.emoflon.gips.gipsl.Gipsl">
                        </equals>
                  </with>
            </definition>
            <definition
                  id="isCplexEditorActive">
                  <with
                        variable="activePartId">
                        <equals
                              value="org.emoflon.gips.eclipse.CplexLp">
                        </equals>
                  </with>
            </definition>
      </extension>
      <extension
            point="org.eclipse.ui.workbench.texteditor.codeMiningProviders">
            <codeMiningProvider
                  class="org.emoflon.gips.eclipse.codemining.VariableValueCodeMiningProvider"
                  id="org.emoflon.gips.eclipse.codemining.VariableValueCodeMiningProvider">
                  <enabledWhen>
                        <with
                              variable="editor">
                              <instanceof
                                    value="org.emoflon.gips.eclipse.ui.editor.CplexLpEditor">
                              </instanceof>
                        </with>
                  </enabledWhen>
            </codeMiningProvider>
      </extension>

</plugin>