<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.emoflon.ibex.common.slimgt.SlimGTBuilderExtension">
      <builder_extension
            builder="org.emoflon.gips.build.GipsProjectBuilder">
      </builder_extension>
   </extension>

</plugin>
