<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.emoflon.gips.gipsl.GipsBuilderExtension">
      <builder_extension
            class="org.emoflon.gips.build.GipsProjectBuilder">
      </builder_extension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.emoflon.gips.gipsl.Gipsl"
            class="org.emoflon.gips.build.preference.PluginPreferencePage"
            id="org.emoflon.gips.build.page1"
            name="Code Generation">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.emoflon.gips.build.preference.PluginPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
