<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="RoamBuilderExtension" name="RoamBuilderExtension" schema="schema/RoamBuilderExtension.exsd"/>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.emoflon.org/roam/roamslang/RoamSLang"
			class = "org.emoflon.roam.roamslang.roamSLang.RoamSLangPackage"
			genModel = "model/generated/RoamSLang.genmodel" />
	</extension>
</plugin>
