<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GipsIntermediate -->
      <package
            uri="platform:/resource/org.emoflon.gips.intermediate/model/GipsIntermediate.ecore"
            class="org.emoflon.gips.intermediate.GipsIntermediate.GipsIntermediatePackage"
            genModel="model/GipsIntermediate.genmodel"/>
   </extension>

</plugin>
